CS_REST_API_SECRET=
CPS_REST_API_SECRET=
DEV_REST_API_SECRET=
ISAMS_VERIFY= #can be set to false, or set to a file path to a certificate file to verify against. On production this should be left blank to use the default CA bundle.
